.boxy {
  padding: 1em;
  margin: 1em 0em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.genreTitle {
  text-align: center;
  color: #2871cc;
}
